@import "style.css";

.task-list div:nth-child(2n-1){
  background-color: #e5e5e5;
}
.task-list>div.focus{
  background-color: blue;
}
.task-list>div.selected{
  background-color: orange;
}
.task-list>div{
  padding: 0.83em;
}
.task-list h2{
  margin: 0;
}
.task-list p{
  margin: 0;
}


.countries div:nth-child(2n){
    flex-direction: row-reverse;
}
